<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <supports-screens android:resizeable="true"
    android:smallScreens="true"
    android:normalScreens="true"
    android:largeScreens="true"
    android:xlargeScreens="true"
    android:anyDensity="true"/>

    <application
        android:icon="@drawable/plane"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:requestRawExternalStorageAccess="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Holiday.HolidayDetailsEdit" />
        <activity android:name=".Holiday.HolidayDetailsView" />
        <activity android:name=".Day.DayDetailsEdit" />
        <activity android:name=".Day.DayDetailsView" />
        <activity android:name=".Day.DayDetailsList" />
        <activity android:name=".Event.EventDetailsEdit" />
        <activity android:name=".Event.EventDetailsView" />
        <activity android:name=".ExtraFiles.ExtraFilesDetailsList" />
        <activity android:name=".ExtraFiles.ExtraFilesDetailsView" />
        <activity android:name=".ExtraFiles.ExtraFilesDetailsEdit" />
        <activity android:name=".Tasks.TaskDetailsList" />
        <activity android:name=".Tasks.TaskDetailsView" />
        <activity android:name=".Tasks.TaskDetailsEdit" />
        <activity android:name=".Budget.BudgetDetailsList" />
        <activity android:name=".Budget.BudgetDetailsView" />
        <activity android:name=".Budget.BudgetDetailsEdit" />
        <activity android:name=".TipGroup.TipGroupDetailsList" />
        <activity android:name=".TipGroup.TipGroupDetailsView" />
        <activity android:name=".TipGroup.TipGroupDetailsEdit" />
        <activity android:name=".Tip.TipDetailsList" />
        <activity android:name=".Tip.TipDetailsView" />
        <activity android:name=".Tip.TipDetailsEdit" />
        <activity android:name=".ThemeParks.ThemeParkList" />
        <activity android:name=".ThemeParks.ThemeParkView" />
        <activity android:name=".ThemeParks.ThemeParkEdit" />
        <activity android:name=".ThemeParks.ThemeParkAreaView" />
        <activity android:name=".ThemeParks.ThemeParkAreaEdit" />
        <activity android:name=".Contact.ContactDetailsList" />
        <activity android:name=".Contact.ContactDetailsView" />
        <activity android:name=".Contact.ContactDetailsEdit" />
        <activity android:name=".ScheduleArea.ScheduleAreaList" />
        <activity android:name=".Notes.NoteEdit" />
        <activity android:name=".InternalImages.InternalImageList" />
        <activity android:name=".InternalFiles.InternalFileList" />
        <activity android:name=".Poi.PoiList" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>