<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.des.hp">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <supports-screens android:resizeable="true"
    android:smallScreens="true"
    android:normalScreens="true"
    android:largeScreens="true"
    android:xlargeScreens="true"
    android:anyDensity="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/plane"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:requestRawExternalStorageAccess="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Holiday.HolidayDetailsEdit"></activity>
        <activity android:name=".Holiday.HolidayDetailsView"></activity>
        <activity android:name=".Day.DayDetailsEdit"></activity>
        <activity android:name=".Day.DayDetailsView"></activity>
        <activity android:name=".Day.DayDetailsList"></activity>
        <activity android:name=".Schedule.Flight.FlightDetailsEdit"></activity>
        <activity android:name=".Schedule.Flight.FlightDetailsView"></activity>
        <activity android:name=".Schedule.Hotel.HotelDetailsEdit"></activity>
        <activity android:name=".Schedule.Hotel.HotelDetailsView"></activity>
        <activity android:name=".Schedule.Bus.BusDetailsEdit"></activity>
        <activity android:name=".Schedule.Bus.BusDetailsView"></activity>
        <activity android:name=".Schedule.Restaurant.RestaurantDetailsEdit"></activity>
        <activity android:name=".Schedule.Restaurant.RestaurantDetailsView"></activity>
        <activity android:name=".Schedule.Cinema.CinemaDetailsEdit"></activity>
        <activity android:name=".Schedule.Cinema.CinemaDetailsView"></activity>
        <activity android:name=".Schedule.Park.ParkDetailsEdit"></activity>
        <activity android:name=".Schedule.Park.ParkDetailsView"></activity>
        <activity android:name=".Schedule.Parade.ParadeDetailsEdit"></activity>
        <activity android:name=".Schedule.Parade.ParadeDetailsView"></activity>
        <activity android:name=".Schedule.Other.OtherDetailsEdit"></activity>
        <activity android:name=".Schedule.Other.OtherDetailsView"></activity>
        <activity android:name=".Schedule.Show.ShowDetailsEdit"></activity>
        <activity android:name=".Schedule.Show.ShowDetailsView"></activity>
        <activity android:name=".Schedule.Ride.RideDetailsEdit"></activity>
        <activity android:name=".Schedule.Ride.RideDetailsView"></activity>
        <activity android:name=".Schedule.GeneralAttraction.GeneralAttractionDetailsEdit"></activity>
        <activity android:name=".Schedule.GeneralAttraction.GeneralAttractionDetailsView"></activity>
        <activity android:name=".ExtraFiles.ExtraFilesDetailsList"></activity>
        <activity android:name=".ExtraFiles.ExtraFilesDetailsView"></activity>
        <activity android:name=".ExtraFiles.ExtraFilesDetailsEdit"></activity>
        <activity android:name=".Tasks.TaskDetailsList"></activity>
        <activity android:name=".Tasks.TaskDetailsView"></activity>
        <activity android:name=".Tasks.TaskDetailsEdit"></activity>
        <activity android:name=".Budget.BudgetDetailsList"></activity>
        <activity android:name=".Budget.BudgetDetailsView"></activity>
        <activity android:name=".Budget.BudgetDetailsEdit"></activity>
        <activity android:name=".TipGroup.TipGroupDetailsList"></activity>
        <activity android:name=".TipGroup.TipGroupDetailsView"></activity>
        <activity android:name=".TipGroup.TipGroupDetailsEdit"></activity>
        <activity android:name=".Tip.TipDetailsList"></activity>
        <activity android:name=".Tip.TipDetailsView"></activity>
        <activity android:name=".Tip.TipDetailsEdit"></activity>
        <activity android:name=".Attraction.AttractionDetailsList"></activity>
        <activity android:name=".Attraction.AttractionDetailsView"></activity>
        <activity android:name=".Attraction.AttractionDetailsEdit"></activity>
        <activity android:name=".AttractionArea.AttractionAreaDetailsList"></activity>
        <activity android:name=".AttractionArea.AttractionAreaDetailsView"></activity>
        <activity android:name=".AttractionArea.AttractionAreaDetailsEdit"></activity>
        <activity android:name=".AttractionArea.AttractionAreaView"></activity>
        <activity android:name=".Contact.ContactDetailsList"></activity>
        <activity android:name=".Contact.ContactDetailsView"></activity>
        <activity android:name=".Contact.ContactDetailsEdit"></activity>
        <activity android:name=".ScheduleArea.ScheduleAreaList"></activity>
        <activity android:name=".Notes.NoteEdit"></activity>
        <activity android:name=".Notes.NoteView"></activity>
        <activity android:name=".InternalImages.InternalImageList"></activity>
        <activity android:name=".InternalFiles.InternalFileList"></activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>